.add {
    display: block;
    margin: 1rem auto 0;
    height: 1.5rem;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #808080,
                 -5px -5px 10px #ffffff;
}
