:root {
    --delete-color: black;
    --delete-hover-color: #e63946;
}

.detail-delete {
    color: var(--delete-color);
    display: block;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 0px;
}

.school-job-delete {
    color: var(--delete-color);
    font-size: 2rem;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.honor-delete {
    color: var(--delete-color);
    font-size: 2rem;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 24px;
}

.hobby-delete {
    color: var(--delete-color);
    font-size: 2rem;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 32px;
}

.detail-delete:hover {
    color: var(--delete-hover-color);
}

.school-job-delete:hover {
    color: var(--delete-hover-color);
}

.honor-delete:hover {
    color: var(--delete-hover-color);
}

.hobby-delete:hover {
    color: var(--delete-hover-color);
}